<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="adoptions-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.adoption_id}}">
            <td>{{this.adoption_id}}</td>
            <td>{{this.dog_id}}</td>
            <td>{{this.dog_name}}</td>
            <td>{{this.shelter_id}}</td>
            <td>{{this.shelter_name}}</td>
            <td>{{this.user_id}}</td>
            <td>{{this.adopter}}</td>
            <td>{{this.match_id}}</td>
            <td>{{this.match_date}}</td>
            <td>{{this.adoption_date}}</td>
            <td><button onclick="deleteBreed({{this.adoption_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_adoption.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Adoption with AJAX</h2>
<p>To add a new adoption, please enter their information below and click 'Submit'!</p>
<form id="add-adoption">
    <label for="input-date">Breed Name: </label>
    <input type="date" name="input-date" id="input-date" required>
    
    <label for="input-activity_level">Activity Level: </label>
    <input type="number" name="input-activity_level" id="input-activity_level" min="1" max="10">

    <label for="input-shedding_level">Shedding Level: </label>
    <input type="number" name="input-shedding_level" id="input-shedding_level" min="1" max="10">

    <label for="input-size">Size: </label>
    <select name="input-size" id="input-size">
        <option value="NULL">Select</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
    </select>

    <input type="submit">
</form>