<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Adoptions</h1>
<p>Use this page to add and delete adoptions. Deleting an adoption will reactive the associated dog and match.</p>
{{!-- Create a table --}}
<table class="styled-table" id="adoptions-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.adoption_id}}">
            <td>{{this.adoption_id}}</td>
            <td>{{this.dog_id}}</td>
            <td>{{this.dog_name}}</td>
            <td>{{this.shelter_id}}</td>
            <td>{{this.shelter_name}}</td>
            <td>{{this.user_id}}</td>
            <td>{{this.adopter}}</td>
            <td>{{this.match_id}}</td>
            <td>{{this.match_date}}</td>
            <td>{{this.adoption_date}}</td>
            <td><button onclick="deleteAdoption({{this.adoption_id}}, {{this.dog_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_adoption.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Adoption with HTML Form</h2>
<p>To add a new adoption, please enter their information below and click 'Submit'! <br> Adding an adoption will deactivate the associated dog and match (if applicable). <br> Dogs that are not active are not eligible for adoption and will not appear in the dropdown</p>
<form id="add-adoption-form" method="POST" action="/add-adoption-form">
    <label for="input-date">Date: </label>
    <input type="date" name="input-date" id="input-date" required>
    
    <label for="input-user_id">User: </label>
    <select name="input-user_id" id="input-user_id">
        <option value="NULL">Select a User</option>
        {{#each users}}
        <option value="{{this.user_id}}">{{this.username}}</option>
        {{/each}}
    </select><div></div>

    <label for="input-dog_id">Dog: </label>
    <select name="input-dog_id" id="input-dog_id" required>
        <option value="NULL">Select a Dog</option>
        {{#each dogs}}
        <option value="{{this.dog_id}}">{{this.name}} - {{this.shelter_name}} - {{this.dog_id}}</option>
        {{/each}}
    </select><div></div>

    <label for="input-shelter_id"> Please Confirm Shelter: </label>
    <select name="input-shelter_id" id="input-shelter_id" required>
        <option value="NULL">Select a Shelter</option>
        {{#each shelters}}
        <option value="{{this.shelter_id}}">{{this.name}}</option>
        {{/each}}
    </select><div></div>

    <label for="input-match_id">Match: </label>
    <select name="input-match_id" id="input-match_id">
        <option value="NULL">Select a Match if applicable</option>
        {{#each matches}}
        <option value="{{this.match_id}}">{{this.dog_name}} & {{this.user_name}}</option>
        {{/each}}
    </select><div></div>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request
<script src="./js/add_adoption.js"></script> --}}