<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


{{!-- Create a table --}}
<table id="adoptions-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.adoption_id}}">
            <td>{{this.adoption_id}}</td>
            <td>{{this.dog_id}}</td>
            <td>{{this.dog_name}}</td>
            <td>{{this.shelter_id}}</td>
            <td>{{this.shelter_name}}</td>
            <td>{{this.user_id}}</td>
            <td>{{this.adopter}}</td>
            <td>{{this.match_id}}</td>
            <td>{{this.match_date}}</td>
            <td>{{this.adoption_date}}</td>
            <td><button onclick="deleteAdoption({{this.adoption_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Adding Adoption with AJAX</h2>
<p>To add a new adoption, please enter their information below and click 'Submit'!</p>
<form id="add-adoption">
    <label for="input-date">Breed Name: </label>
    <input type="date" name="input-date" id="input-date" required>
    
    <label for="input-user_id">User: </label>
    <select name="input-user_id" id="input-users_user_id">
        <option value="NULL">Select a User</option>
        {{#each users}}
        <option value="{{this.user_id}}">{{this.username}}</option>
        {{/each}}
    </select>

    <label for="input-dog_id">Dog: </label>
    <select name="input-dog_id" id="input-dog_id" required>
        <option value="NULL">Select a Dog</option>
        {{#each dogs}}
        <option value="{{this.dog_id}}">{{this.name}} - {{this.shelter_name}} - {{this.dog_id}}</option>
        {{/each}}
    </select>

    <label for="input-shelter_id"> Please Confirm Shelter: </label>
    <select name="input-shelter_id" id="input-shelter_id" required>
        <option value="NULL">Select a Shelter</option>
        {{#each dogs}}
        <option value="{{this.shelter_id}}">{{this.shelter_name}}</option>
        {{/each}}
    </select>

    <label for="input-match_id">Match: </label>
    <select name="input-match_id" id="input-match_id">
        <option value="NULL">Select a Match if applicable</option>
        {{#each matches}}
        <option value="{{this.match_id}}">{{this.dog_name}} & {{this.user_name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>