<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/delete_breed.js"></script>

{{!-- Create a table --}}
<table id="breeds-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.breed_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.activity_level}}</td>
            <td>{{this.shedding_level}}</td>
            <td>{{this.size}}</td>
            <td><button onclick="deleteBreed({{this.breed_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to add a record to the table  --}}
<h2>Adding Breeds with AJAX</h2>
<p>To add a new breed, please enter their information below and click 'Submit'!</p>
<form id="add-breed">
    <label for="input-name">Breed Name: </label>
    <input type="text" name="input-name" id="input-name" required>
    
    <label for="input-activity_level">Activity Level: </label>
    <input type="number" name="input-activity_level" id="input-activity_level" min="1" max="10">

    <label for="input-shedding_level">Shedding Level: </label>
    <input type="number" name="input-shedding_level" id="input-shedding_level" min="1" max="10">

    <label for="input-size">Size: </label>
    <select name="input-size" id="input-size">
        <option value="NULL">Select</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_breed.js"></script>

<h2>Updating A Breed with AJAX</h2>
<p>To update a specific breed select their name from the drop-down menu on the left</p>
<form id="update-breed">

    <label for="update-name">Full name: </label>
    <select name="update-name" id="update-name">
        <option value="test">Select a Breed</option>
        {{#each data}}
        <option value="{{this.breed_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="update-activity-level">Activity-Level: </label>
    <input type="number" name="update-activity-level" id="update-activity-level" min="1" max="10">

    <label for="update-shedding-level">Shedding-Level: </label>
    <input type="number" name="update-shedding-level" id="update-shedding-level" min="1" max="10">

    <label for="update-size">Size: </label>
    <select name="update-size" id="update-size">
        <option value="NULL">Select</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
    </select>

    <input type="submit">

</form>

<script src="./js/update_person.js"></script>