<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Dogs</h1>
<p1>Use this page to add, update, and deactivate dogs. <br>Deactivating a dog will also deactivate any matches it is in.</p1>
{{!-- Create a table --}}
<table class="styled-table" id="dogs-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Training Level</th>
                <th>Family Friendly</th>
                <th>Shelter Arrival Date</th>
                <th>Active</th>
                <th>Shelter ID</th>
                <th>Shelter Name</th>
                <th>Breed ID</th>
                <th>Breed Name</th>
                <th>Deactivate</th>
            </tr>
        </thead>
        <tbody>
            {{#each dogs}}
            <tr data-value={{this.dog_id}}>
                <td>{{this.dog_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.birthdate}}</td>
                <td>{{this.training_level}}</td>
                <td>{{this.is_family_friendly}}</td>
                <td>{{this.shelter_arrival_date}}</td>
                <td>{{this.is_active}}</td>
                <td>{{this.shelter_id}}</td>
                <td>{{this.shelter_name}}</td>
                <td>{{this.breed_id}}</td>
                <td>{{this.breed_name}}</td>
                <td><button onclick="deleteDog({{this.dog_id}})">Deactivate</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</table>
<script src="./js/delete_dog.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Dogs with AJAX</h2>
<p>To add a new dog, please enter their information below and click 'Submit'!</p>
<form id="add-dog-form" method="POST" action="/add-dog-form">
    <label for="input-name">Dog Name: </label>
    <input type="text" name="input-name" id="input-name" required><br>
    
    <label for="input-birthdate">Birthdate: </label>
    <input type="date" name="input-birthdate" id="input-birthdate"><br>

    <label for="input-training_level">Training Level: </label>
    <input type="number" name="input-training_level" id="input-training_level" min="1" max="10"><br>

    <label for="input-is_family_friendly">Is Family Friendly: </label>
    <input type="number" name="input-is_family_friendly" id="input-is_family_friendly" min="0" max="1"><br>

    <label for="input-shelter_arrival_date">Shelter Arrival Date: </label>
    <input type="date" name="input-shelter_arrival_date" id="input-shelter_arrival_date"><br>

    <input type="hidden" name="input-is_active" id="input-is_active" value="1" />

    <label for="input-shelter_id">Shelter: </label>
    <select name="input-shelter_id" id="input-shelter_id" required>
        <option value="NULL">Select a Shelter</option>
        {{#each shelters}}
        <option value="{{this.shelter_id}}">{{this.name}}</option>
        {{/each}}
    </select><br>

    <label for="input-breed_id">Breed: </label>
    <select name="input-breed_id" id="input-breed_id" required>
        <option value="NULL">Select a Breed</option>
        {{#each breeds}}
        <option value="{{this.breed_id}}">{{this.name}}</option>
        {{/each}}
    </select><br>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_dog.js"></script>

<h2>Updating A Dog Form</h2>
<p>To update a specific dog select their name from the drop-down menu on the left and then enter desired changes</p>
<form id="update-dog">

    <label for="select-name">Name: </label>
    <select name="select-name" id="select-name">
        <option value="test">Select a Dog</option>
        {{#each names}}
        <option value="{{this.dog_id}}">{{this.name}}</option>
        {{/each}}
    </select><br>

    <label for="update-name"> New Dog Name: </label>
    <input type="text" name="update-name" id="update-name" required><br>
    
    <label for="update-birthdate">Birthdate: </label>
    <input type="date" name="update-birthdate" id="update-birthdate"><br>

    <label for="update-training_level">Training Level: </label>
    <input type="number" name="update-training_level" id="update-training_level" min="1" max="10"><br>

    <label for="update-is_family_friendly">Is Family Friendly: </label>
    <input type="number" name="update-is_family_friendly" id="update-is_family_friendly" min="0" max="1"><br>

    <label for="update-shelter_arrival_date">Shelter Arrival Date: </label>
    <input type="date" name="update-shelter_arrival_date" id="update-shelter_arrival_date"><br>

    <input type="hidden" name="update-is_active" id="update-is_active" value="1" />

    <label for="update-shelter_id">Shelter: </label>
    <select name="update-shelter_id" id="update-shelter_id" required>
        <option value="NULL">Select a Shelter</option>
        {{#each shelters}}
        <option value="{{this.shelter_id}}">{{this.name}}</option>
        {{/each}}
    </select><br>

    <label for="update-breed_id">Breed: </label>
    <select name="update-breed_id" id="update-breed_id" required>
        <option value="NULL">Select a Breed</option>
        {{#each breeds}}
        <option value="{{this.breed_id}}">{{this.name}}</option>
        {{/each}}
    </select><br>

    <input type="submit">

</form>

<script src="./js/update_dog.js"></script>