{{!-- // This module is adapted from the CS340 starter code with significant changes for enhanced functionality.  --}}
<!DOCTYPE html>
<html>
<head>
    <title>Shelters</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <h1>Shelters</h1>
    <p1>Use this page to add, update, or deactivate a shelter. <br> Deactivating a shelter deactivates all associated dogs and any matches that those dogs were in. <br>Reactivating a shelter activates all associated dogs and any matches that those dogs were in. <br>Active changes will not be visible on this page</p1>

    <table class="styled-table" id="shelters-table">
        <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>Deactivate All Dogs</th>
                <th>Activate All Dogs</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value="{{this.shelter_id}}">
                <td>{{this.shelter_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.street_address}}</td>
                <td>{{this.city}}</td>
                <td>{{this.postal_code}}</td>
                <td>{{this.state}}</td>
                <td><button onclick="deleteShelter({{this.shelter_id}})">Deactivate</button></td>
                <td><button onclick="activateShelter({{this.shelter_id}})">Reactivate</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <script src="./js/delete_shelter.js"></script>
    <script src="./js/reactivate_shelter.js"></script>

    <h2>Add Shelter with AJAX</h2>
    <p>To add a new Shelter please enter their information below and click submit</p>
    <form id="add-shelter">
        <label for="input-name">Name:</label>
        <input type="text" id="input-name" name="name"><br>

        <label for="input-email">Email:</label>
        <input type="text" id="input-email" name="email"><br>

        <label for="input-street-address">Street Address:</label>
        <input type="text" id="input-street-address" name="street_address"><br>

        <label for="input-city">City:</label>
        <input type="text" id="input-city" name="city"><br>

        <label for="input-postal-code">Postal Code:</label>
        <input type="text" id="input-postal-code" name="postal_code"><br>

        <label for="input-state">State:</label>
        <input type="text" id="input-state" name="state"><br>

        <input type="submit" value="Add Shelter">
    </form>

    <script src="./js/add_shelter.js"></script>

    <h2>Update Shelter</h2>
    <p>To update a specific shelter select their name from the drop-down menu on the left and then enter desired changes</p>
    <form id="update-shelter">
        <label for="select-name">Name:</label>
        <select id="select-name" name="select-name" required>
            {{#each data}}
            <option value="{{this.shelter_id}}">{{this.name}}</option>
            {{/each}}
        </select><br>
        <label for="update-name">New Name:</label>
        <input type="text" id="update-name" name="name"><br>
        <label for="update-email">Email:</label>
        <input type="text" id="update-email" name="email" required><br>

        <label for="update-street-address">Street Address:</label>
        <input type="text" id="update-street-address" name="street_address" required><br>

        <label for="update-city">City:</label>
        <input type="text" id="update-city" name="city"><br>

        <label for="update-postal-code">Postal Code:</label>
        <input type="text" id="update-postal-code" name="postal_code" required><br>

        <label for="update-state">State:</label>
        <input type="text" id="update-state" name="state" required><br>

        <input type="submit" value="Update Shelter">
    </form>

    <script src="./js/update_shelter.js"></script>

</body>
</html>
